.c-wrapper {
    background-color: white;
}

.c-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 3rem 0;
}

.c-container > img {
    width: 9rem;
    object-fit: contain;
    height: auto;
    
}

@media (max-width: 768px) {
    .c-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
}